.App {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
}

.MuiPaper-root {
  padding: 12px;
  min-width: 220px;
}

.Bottom-navigation-paper {
  padding: 0px;
}

.topNavBar {
  position: absolute;
  z-index: 999;
}

.map-container {
  width: 100%;
  height: 40vh;
}

.search {
  position: absolute;
  top: 11rem;
  left: 5%;
  z-index: 10;
}

.gymCards {
  padding: 6px;
  min-width: 250px;
  max-width: 250px;
}

.filterInputAndCards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
